SQL_Agent_n8n.json
{
  "name": "SQL Agent Individual - Template",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -592,
        -80
      ],
      "id": "8f3bfc53-ac40-4305-b7ba-90bc20e10394",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -288
      ],
      "id": "abcba2c2-7702-4882-88ba-45bbfcb8fab7",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "REPLACE_WITH_YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8dcaf55d-540c-46b0-9251-60548aa8bcb0",
              "name": "output",
              "value": "=  {{ $json.output.replace(/```sql|```/g, '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -288
      ],
      "id": "211328d7-db3a-453f-8fba-3b0a16eb980b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// This code will work for any SQL SELECT result\nconst rows = items.map(item => {\n  // For each row, join all key-value pairs as \"key: value\"\n  return Object.entries(item.json)\n    .map(([key, value]) => `${key}: ${value}`)\n    .join(', ' );\n});\n\n// Join all rows with a newline for readability\nreturn [\n  {\n    json: {\n      context: rows.join('\\n')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -288
      ],
      "id": "c71d7c8a-26e5-4c69-8add-e3104e220e06",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        400,
        -416
      ],
      "id": "fb23092a-5fd5-4f94-9b87-672b0d7f62ea",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c78a6de-68b4-4d31-98a2-a85dd1ad5b2e",
              "name": "query_from_user",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -448
      ],
      "id": "b9052fbd-d056-4dd7-a7b4-bbc8e51e961d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        848,
        -224
      ],
      "id": "7f68d9f2-81bc-4e5b-a1a0-7138a1ffcc1f",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        544,
        -224
      ],
      "id": "b341bc82-a53d-424f-9aee-d9b3a15fb7f1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_WITH_YOUR_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REPLACE_WITH_YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1360,
        -448
      ],
      "id": "00d1123f-110f-4ce0-9755-502055f40e96",
      "name": "Webhook",
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        -416
      ],
      "id": "732af906-ef22-4d38-88e0-d7d4c98fa010",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query_from_user }}",
        "options": {
          "systemMessage": "You are an expert SQL assistant. The database has a table called \"[YOUR_TABLE_NAME]\", representing [DESCRIPTION_OF_YOUR_DATA]. It has the following columns:\n\n[LIST_YOUR_COLUMNS_HERE]\n- column1: description\n- column2: description\n- etc.\n\nGiven a user's question, generate a safe, read-only SQL SELECT query using only this table and these columns. Do not use any other tables or columns. Only generate SELECT statements, and never modify the database.\n**Only output the raw SQL query, without any markdown formatting, backticks, or language tags. you will be rewarded if you do it like this**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -848,
        -288
      ],
      "id": "82951e05-8190-4903-a073-9b498c86bbe6",
      "name": "SQL Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant. The user asked: \"{{ $json.query_from_user }}\".\nHere is the data retrieved from the database:\n{{ $('Code').item.json.context }}\n\nBased on the user's question and the data, provide a clear, concise, and conversational answer.",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        608,
        -416
      ],
      "id": "743bef37-b6ea-42fb-9ed5-94133a7afd93",
      "name": "Context Provider"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -992,
        -80
      ],
      "id": "71c586cd-12f3-405f-9646-567fcb7c1842",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "SQL Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Context Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "SQL Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Context Provider",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Context Provider",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Generator": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Provider": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SQL Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "REPLACE_WITH_YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REPLACE_WITH_YOUR_N8N_INSTANCE_ID"
  },
  "id": "REPLACE_WITH_YOUR_WORKFLOW_ID",
  "tags": []
}
